<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/c1.css')}}">
</head>
<body>

    <center>
        <h1>This my render creation in flask</h1>
        <h1>this my render_templates in flask</h1>
        {{name}}
        {{age}}
        <br>
        
    <img src="{{ url_for('static',filename='images/color.jpg') }}" alt="">
    </center>
</body>
</html>